$color-main:#fff;
$color-contenttext: #000000;
$text-color: #006eff; 
$h-color: #302e89; 
$h-big: #26a055; 
$h-small: #26a055;
$p-color: #3d7fa0; 
$article-back: #ddd7d7;
$input: #00c7ff;
$big-letter: uppercase;
$position1: relative;
$position2: absolute;