$color-main:#ddd7d7;
$color-contenttext: #000000; 
$text-color: #ff0000;
$h-color: #302e89;
$h-small: #d3cfcf;
$p-color: #4c4747;
$article-back: #fff; 
$input: #ff0000;
$big-letter: uppercase;
$position1: relative;
$position2: absolute;